@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------------------------------Main-------------------------------- */

.container {
    max-width: 1920px;
    height: 100vh;
    margin: 0 auto;
    padding: 0px 15px;
}

a {
    color: black;
    text-decoration: none;
}

/* --------------------------------Header_Starts-------------------------------- */

.header__contacts_ul {
    display: flex;
    justify-content: right;
}

.header__contacts li {
    padding: 30px 15px;
}

/* --------------------------------Header_Ends-------------------------------- */
/* --------------------------------Intro_Starts-------------------------------- */

.intro {
    height: 100vh;
    width: 100%;
}

.intro__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
}

.intro__logo img {
    align-items: center;
    justify-content: center;
}

.intro__nav {
    /* height: 30%; */
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}



.intro__nav {
    display: flex;
    justify-content: center;
}



.intro__nav li {
    border-left: 2px solid rgba(170, 30, 30, 1);
    padding-left: 10px;

    border-right: 2px solid rgba(170, 30, 30, 1);
    padding-right: 10px;

    margin: 0px 5%;
}

/* --------------------------------Intro_Ends-------------------------------- */
